.gradient-custom {
    /* Add your gradient background styling here */
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  
  .card {
    background-color: var(--mainColor);
    border-radius: 1rem;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  
  .img-thumbnail {
    max-width: 100px;
    height: auto;
  }
  
  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .btn-outline-light:hover {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .float-end {
    float: right;
  }
  
  
.goback {
  color: #dc3545;
  background-color: rgb(255 255 255);
  font-size: 25px;
  border: none;
  font-weight: bold;

  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 15px 30px;
  position: relative;
  box-shadow: -9px 6px 2px #0000004f;
  transform: translateY(-2px);
}

.goback:hover {
  box-shadow: none;
  transform: translateY(0px);
}
.goback:focus {
  color: #dc3545;
  box-shadow: -5px 3px 2px #0000004f;

  background-color: white;
  transform: translateY(2px);
}