<section class="gradient-custom mt-5">
     <div class="container">
          <div class="row justify-content-center">
               <div class="col-lg-8">
                    <div class="card text-white">
                         <div class="card-body">
                              <h3 class="card-title text-center">إضافة خدمة سيارة</h3>
                              <form (ngSubmit)="onSubmit()" [formGroup]="carServiceForm">
                                   <div class="mb-3">
                                        <label class="form-label" for="brand">العلامة التجارية</label>
                                        <input type="text" id="brand" class="form-control" formControlName="brand" />
                                        <div *ngIf="carServiceForm.get('brand')?.invalid && carServiceForm.get('brand')?.touched"
                                             class="text-danger">العلامة التجارية مطلوبة</div>
                                   </div>
                                   <div class="mb-3">
                                        <label class="form-label" for="year">السنة</label>
                                        <input type="number" id="year" class="form-control" formControlName="year" />
                                        <div *ngIf="carServiceForm.get('year')?.invalid && carServiceForm.get('year')?.touched"
                                             class="text-danger">السنة مطلوبة</div>
                                   </div>
                                   <div class="mb-3">
                                        <label class="form-label" for="price">السعر</label>
                                        <input type="number" id="price" class="form-control" formControlName="price" />
                                        <div *ngIf="carServiceForm.get('price')?.invalid && carServiceForm.get('price')?.touched"
                                             class="text-danger">السعر مطلوب</div>
                                   </div>
                                   <div class="mb-3">
                                        <label class="form-label" for="description">الوصف</label>
                                        <input type="text" id="description" class="form-control"
                                             formControlName="description" />
                                        <div *ngIf="carServiceForm.get('description')?.invalid && carServiceForm.get('description')?.touched"
                                             class="text-danger">الوصف مطلوب</div>
                                   </div>
                                   <div class="mb-3">
                                        <label class="form-label" for="governorate">المحافظة</label>
                                        <select id="governorate" class="form-control" formControlName="governorate">
                                             <option *ngFor="let governorate of AllGovernments"
                                                  [value]="governorate.governorateID">{{ governorate.name }}</option>
                                        </select>
                                        <div *ngIf="carServiceForm.get('governorate')?.invalid && carServiceForm.get('governorate')?.touched"
                                             class="text-danger">المحافظة مطلوبة</div>
                                   </div>
                                   <div class="mb-3">
                                        <label class="form-label" for="city">المدينة</label>
                                        <select id="city" class="form-control" formControlName="city">
                                             <option *ngFor="let city of Cities" [value]="city.id">{{ city.name }}
                                             </option>
                                        </select>
                                        <div *ngIf="carServiceForm.get('city')?.invalid && carServiceForm.get('city')?.touched"
                                             class="text-danger">المدينة مطلوبة</div>
                                   </div>
                                   <div class="mb-3">
                                        <label class="form-label" for="images">الصور</label>
                                        <input type="file" id="images" class="form-control"
                                             (change)="onFileSelected($event)" multiple />
                                        <div *ngIf="images.length === 0 && carServiceForm.get('images')?.touched"
                                             class="text-danger">الصور مطلوبة</div>
                                        <div class="mt-3 d-flex flex-wrap">
                                             <div *ngFor="let image of images" class="me-2 mb-2 position-relative">
                                                  <img [src]="image.url" class="img-thumbnail"
                                                       style="height: 100px; width: 100px;" />
                                                  <button type="button"
                                                       class="btn btn-danger btn-sm position-absolute top-0 end-0"
                                                       (click)="removeImage(image)">x</button>
                                             </div>
                                        </div>
                                   </div>


                                   <button class="btn btn-outline-light d-flex justify-content-center m-auto"
                                        type="submit">إرسال</button>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>