body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #cfd9e7;
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     direction: rtl;
     margin: 0;
   }
   
   .change-password {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 100%; 
     padding: 2rem;
     background: #f9fafb;
     border-radius: 10px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     box-sizing: border-box;
   }
   
   @media (min-width: 992px) {
     .change-password {
       flex-direction: row;
     }
   }
   
   .description,
   .password {
     width: 100%;
   }
   
   .description {
     margin-bottom: 2rem;
   }
   
   .description-title {
     font-size: 2rem;
     text-align: center;
     color: #111827;
   }
   
   .description-details {
     margin-top: 20px;
     font-size: 1.2rem;
     color: #111827;
   }
   
   .description-rules {
     margin-top: 20px;
     font-size: 1rem;
     color: #9ca3af;
   }
   
   .description-rules-item {
     line-height: 2rem;
   }
   
   .description-rules-item.correct {
     text-decoration: line-through;
     text-decoration-color: #111827;
   }
   
   .description-rules-item .fa {
     margin-left: 10px;
     color: #6b9adc;
   }
   
   .password {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   .password-wrapper {
     position: relative;
     width: 100%;
     max-width: 300px;
     margin-bottom: 25px;
   }
   
   .password-wrapper .fa {
     position: absolute;
     left: 10px;
     top: 50%;
     transform: translateY(-50%);
     color: #2ecc71;
   }
   
   .password-input {
     width: 100%;
     height: 40px;
     padding: 0 10px;
     font-size: 1rem;
     border: 2px solid #eee;
     border-radius: 5px;
     outline: none;
     box-sizing: border-box;
   }
   
   .password-save, .password-reset {
     width: 100%;
     max-width: 300px;
     padding: 10px;
     font-size: 1rem;
     border: none;
     border-radius: 5px;
     color: #f9fafb;
     text-transform: uppercase;
     background-color: var(--mainColor);
     cursor: pointer;
     transition: background-color 0.3s ease-in;
     margin-bottom: 10px;
     font-weight: 500;
   }
   
   .password-save:hover, .password-reset:hover {
     background-color: #871b7b;
   }
   
   .password-reset {
     background: #ccc;
   }
   
   .password-reset:hover {
     background: #999;
   }
   
   ::placeholder {
     color: #ddd;
   }
   
   ::selection {
     background: #dee7f0;
   }
   