<div class="change-password">
     <div class="description">
          <h1 class="description-title">تغيير كلمة المرور</h1>
          <h4 class="description-details">يجب أن تحتوي كلمات المرور على:</h4>
          <ul class="description-rules">
               <li class="description-rules-item" [class.correct]="hasAtLeastSixCharacters">
                    <i class="fa fa-check" *ngIf="hasAtLeastSixCharacters" aria-hidden="true"></i>
                    على الأقل 6 أحرف
               </li>
               <li class="description-rules-item" [class.correct]="hasOneUpperCaseLetter">
                    <i class="fa fa-check" *ngIf="hasOneUpperCaseLetter" aria-hidden="true"></i>
                    حرف كبير واحد على الأقل (A..Z)
               </li>
               <li class="description-rules-item" [class.correct]="hasOneLowerCaseLetter">
                    <i class="fa fa-check" *ngIf="hasOneLowerCaseLetter" aria-hidden="true"></i>
                    حرف صغير واحد على الأقل (a..z)
               </li>
               <li class="description-rules-item" [class.correct]="hasOneNumber">
                    <i class="fa fa-check" *ngIf="hasOneNumber" aria-hidden="true"></i>
                    رقم واحد على الأقل (0..9)
               </li>
          </ul>
     </div>

     <div class="password">
          <div class="password-wrapper">
               <input class="password-input old-password" type="password" [(ngModel)]="oldPassword"
                    placeholder="كلمة المرور القديمة" />
               <i class="fa fa-check" *ngIf="isOldPasswordFilled"></i>
          </div>
          <div class="password-wrapper">
               <input class="password-input new-password" type="password" [(ngModel)]="newPassword1"
                    placeholder="كلمة المرور الجديدة" />
               <i class="fa fa-check"
                    *ngIf="arePasswordsEqual && hasAtLeastSixCharacters && hasOneUpperCaseLetter && hasOneLowerCaseLetter && hasOneNumber"></i>
          </div>
          <div class="password-wrapper">
               <input class="password-input repeat-password" type="password" [(ngModel)]="newPassword2"
                    placeholder="أعد إدخال كلمة المرور الجديدة" />
               <i class="fa fa-check" *ngIf="arePasswordsEqual"></i>
               <i class="fa fa-times" *ngIf="!arePasswordsEqual && newPassword2.length > 0" aria-hidden="true"
                    style="color: red;"></i>
          </div>
          <div class="password-wrapper">
               <input class="password-input security-answer" type="text" [(ngModel)]="securityQuestionAnswer"
                    placeholder="إجابة: من هو صديقك المفضل؟" />
               <i class="fa fa-check" *ngIf="securityQuestionAnswer.length > 0"></i>
          </div>
          <button class="password-save" type="button" (click)="save()">حفظ</button>
          <button class="password-reset" type="button" (click)="reset()">إعادة تعيين</button>
     </div>
</div>