<div class="container d-flex flex-column text-center sty">
  <div class="row d-flex">
    <div class="col-md-6">
      <div class="row align-items-center style">
        <div class="col-md-12">
          <h1 class=" mb-5">أهلا <strong>{{ UserDashboardName }}</strong></h1>
          <!-- Placeholder element for auto-written text -->
          <h1 class="fw-bold typed-message"></h1>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/images/7314112.svg" alt="your-image-description" class="sty image-sty" />
    </div>
  </div>
</div>