<section class="home">
     <div class="home-containner containner">
          <div class="home-data">
               <h1 class="home-title ">خطأ الحالة 404</h1>
               <p class="home-text">!لم يتم العثور على الصفحة<br>.ربما تم حذفها أو ليست متوفرة موقتاً أو تم تغيير اسمها
               </p>
               <a [routerLink]="['/home']" class="btn fs-3 home-button">العودة للرئيسية</a>
          </div>

          <div class="home-img">
               <img src="../../../assets/images/Ghost.png" alt="Ghost Img">
               <div class="ghost-shadow"></div>
          </div>
     </div>
</section>