<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
<section class="gradient-custom mt-2">
  <div class="container w-75">
    <div class="d-flex justify-content-center">
      <div class="col-md-9">
        <div class="card bg-dark-c text-white ww" style="border-radius: 1rem;">
          <div class="card-body">
            <div *ngIf="!isLoading">
              <div class="logo m-3 text-center">
                <img src="../../../assets/images/logo.sidebar.png" alt="Logo" width="25%">
              </div>
              <div class="col-12">
                <form [formGroup]="loginForm">
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="username">الايميل</label>
                    <input type="email" id="username" class="form-control form-control-lg" formControlName="username" />
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="password">كلمة المرور</label>
                    <input type="password" id="password" class="form-control form-control-lg"
                      formControlName="password" />
                  </div>
                  <div class="d-flex align-content-center justify-content-around flex-row-reverse flex-wrap">
                    <div class="rememberMe-toggle d-flex align-items-center gap-2">
                      <label class="toggle-switch">
                        <input type="checkbox" formControlName="rememberMe">
                        <div class="toggle-switch-background">
                          <div class="toggle-switch-handle"></div>
                        </div>
                      </label>
                      <label class="form-check-label fs-1" for="rememberMe">تذكرني</label>
                    </div>
                    <div class="signIn-btn">
                      <button class="btn btn-outline-light d-flex justify-content-center m-auto fs-5" type="submit"
                        (click)="login()">تسجيل الدخول</button>
                    </div>
                  </div>
                  <div class="text-center mt-4">
                    <a href="javascript:void(0);" (click)="openForgotPasswordPopup()"
                      class="text-light fs-4 forgetPassword">نسيت كلمة المرور؟</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>